version: "3.9"

services:
  javsp-web:
    image: apecme/javsp-web:latest
    container_name: javsp-web
    restart: unless-stopped
    ports:
      - "8090:8090"
    volumes:
      - ./data:/app/data
      - ./video:/video
    entrypoint: ["/app/.venv/bin/server"]
